<div class="container mt-4">
  <h1>My Bookings</h1>
  <% if @bookings.empty? %>
    <p><%= current_user.username %></p>
    <p>You have no bookings!</p>
  <% else %>

  <div class="booking-grid">

    <% @bookings.each do |booking| %>
      <div class="card rounded border-0 p-3 d-flex flex-column align-items-center justify-content-center">
      <% if booking.donut.photo.key %>
        <%= cl_image_tag booking.donut.photo.key, height: 250, width: 250, crop: :fill, class: "booking-image" %>
      <% else %>
      <%# placeholder image %>
        <div class="booking-image" style="background-image: url(<%= image_path 'https://www.errenskitchen.com/wp-content/uploads/2020/01/Baked-Vanilla-Donuts-1-4.jpg' %>)"></div>
      <% end %>
      <div class="d-flex flex-column align-items-start pt-3 w-100">

        <h5 class="card-title"><%= booking.donut.title %>
        <% unless (Time.now.hour + Time.now.min) > (booking.time_to.hour + booking.time_to.min - 1) %>
          <span class="badge bg-secondary rounded-pill">New</span>
        <% end %>
        </h5>
        <p class="card-subtitle text-muted"><%= booking.donut.user.username %></p>
        <div class="py-2">
          <p class="card-text text-primary">Time From: <%= booking.time_from.hour %>:<%= booking.time_from.min %>
          <br>
           Time Till: <%= booking.time_to.hour %>:<%= booking.time_to.min %></p>
        </div>
        <% if (Time.now.hour + Time.now.min) > (booking.time_to.hour + booking.time_to.min - 1) %>
          <%= link_to "Write a review", new_booking_review_path(booking), class: "btn btn-primary rounded-pill align-self-center" %>
        <% end %>
      </div>

        <%# TODO ADD REVIEW TO USER FROM BOOKING %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>

        <%# <p class="text-muted">Booking made by: <%= booking.user.username %>
        <%# <%= @donut = booking.donut_id %>
        <%# <p>Whos user id is: <%= booking.user_id %>
