<div class="container booking-grid">
  <% if @bookings.empty? %>
    <p><%= current_user.username %></p>
    <p>You have no bookings!</p>
  <% else %>
    <% @bookings.each do |booking| %>
      <div class="card rounded border-0 pt-4">
        <%= @donut = booking.donut_id %>
        <p>Time From: <%= booking.time_from.hour %>:
                      <%= booking.time_from.min %></p>
        <p>Time Till: <%= booking.time_from.hour %>:
                      <%= booking.time_from.min %></p>
        <p class="text-muted">Booking made by: <%= booking.user.username %></p>
        <p class="text-muted">Name of donut: <%= booking.donut.title %></p>
        <p class="text-muted">Donut belongs to: <%= booking.donut.user.username %></p>
        <p><%= link_to "Write a review", new_booking_review_path(booking) %></p>

        <%# TODO ADD REVIEW TO USER FROM BOOKING %>
      </div>
    <% end %>
  <% end %>
</div>

        <%# <p>Whos user id is: <%= booking.user_id %>
