<div class="container booking-grid">
  <% if @bookings.empty? %>
    <p><%= current_user.username %></p>
    <p>You have no bookings!</p>
  <% else %>
  <div>
      <h1>My Bookings</h1>
  </div>
    <% @bookings.each do |booking| %>
      <div class="card rounded border-0 pt-4">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= booking.donut.title %> <span class="badge bg-secondary">New</span></h5>
        <p class="card-subtitle"><%= booking.donut.user.username %></p>
      <div class="card-body">
        <p class="card-text">Time From: <%= booking.time_from.hour %>:<%= booking.time_from.min %><br>
        Time Till: <%= booking.time_to.hour %>:<%= booking.time_to.min %></p>
      </div>
        <a <%= link_to "Write a review", new_booking_review_path(booking) %>
      </div>

        <%# TODO ADD REVIEW TO USER FROM BOOKING %>
      </div>
    <% end %>
  <% end %>
</div>

        <%# <p class="text-muted">Booking made by: <%= booking.user.username %>
        <%# <%= @donut = booking.donut_id %>
        <%# <p>Whos user id is: <%= booking.user_id %>
