<div class="container mt-4">
  <h1>My Bookings</h1>
  <% if @bookings.empty? %>
    <p><%= current_user.username %></p>
    <p>You have no bookings!</p>
  <% else %>

  <div class="booking-grid">


    <% @bookings.reverse.each do |booking| %>
      <div class="card rounded border-0 p-3 d-flex flex-column align-items-center">

      <% if booking.donut.photo.key %>
        <%= cl_image_tag booking.donut.photo.key, height: 250, width: 250, crop: :fill, class: "booking-image" %>
      <% else %>
      <%# placeholder image %>
        <div class="booking-image" style="background-image: url(<%= image_path 'https://www.errenskitchen.com/wp-content/uploads/2020/01/Baked-Vanilla-Donuts-1-4.jpg' %>)"></div>
      <% end %>
      <div class="d-flex flex-column align-items-start pt-3 w-100">
        <div class="d-flex flex-row justify-content-between align-items-start w-100">
          <h5 class="card-title"><%= booking.donut.title %></h5>
          <% if Time.now.strftime("%k:%M") < booking.time_to.strftime("%k:%M") %>
            <span class="badge bg-secondary rounded-pill">New</span>
          <% end %>
        </div>
        <p class="card-subtitle text-muted"><%= link_to "#{booking.donut.user.username}", user_path(booking.donut.user) %></p>
        <div class="py-2">
          <p class="card-text text-primary">Time From: <%= booking.time_from.strftime("%k:%M") %>
          <br>
           Time Till: <%= booking.time_to.strftime("%k:%M")%></p>
        </div>
        <% if Time.now.strftime("%k:%M") > booking.time_to.strftime("%k:%M") %>
          <%= link_to "Write a review", new_booking_review_path(booking), class: "btn btn-primary rounded-pill align-self-center" %>
        <% end %>
      </div>

        <%# TODO ADD REVIEW TO USER FROM BOOKING %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>

        <%# <p class="text-muted">Booking made by: <%= booking.user.username %>
        <%# <%= @donut = booking.donut_id %>
        <%# <p>Whos user id is: <%= booking.user_id %>
