<div class="container donut-grid mt-4">
  <% @donuts.shuffle.each do |donut| %>
   <div class="card rounded border-0 pt-4">
    <%= link_to donut_path(donut.id), class: "text-decoration-none d-flex flex-column align-items-center justify-content-center w-100" do %>
      <% if donut.photo.key %>
        <%= cl_image_tag donut.photo.key, crop: :fill, class: "donut-image" %>
      <% else %>
      <%# placeholder image %>
        <div class="donut-image" style="background-image: url(<%= image_path 'https://www.errenskitchen.com/wp-content/uploads/2020/01/Baked-Vanilla-Donuts-1-4.jpg' %>)"></div>
      <% end %>
        <div class="card-body flex-grow-1 donut-info w-100">
      <%# <%= image_tag "https://www.errenskitchen.com/wp-content/uploads/2020/01/Baked-Vanilla-Donuts-1-4.jpg", class: "card-image img-fluid rounded-top" %>
          <span><%= donut.title %></span>
          <span class="text-muted"><%= donut.location %></span>
          <span class="text-muted"><%= donut.user.username %></span>
        </div>
    <% end %>
    </div>
  <% end %>
</div>
