<div class="container p-2 w-75">
  <%= link_to 'Back to Results', donuts_path, class: "btn btn-outline-primary rounded-pill" %>
  <div class="show-grid my-3">

    <% if @donut.photo.key %>
      <div class="rounded show-photo" style="background-image: url(<%= cl_image_path @donut.photo.key, crop: :fill %>)"></div>
    <% else %>
      <div class="rounded show-photo" style="background-image: url(<%= image_path "https://images.unsplash.com/photo-1558005288-70a04248aca9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2035&q=80"%>)"></div>
    <% end %>
    <%# info box %>
    <div class="show-title bg-light rounded p-4 d-flex flex-column">
      <h1 class=""><%= @donut.title %></h1>
      <div class="mb-3">
        <% if @donut.user.photo.key %>
          <%= cl_image_tag @donut.user.photo.key, width: 32, height: 32, crop: :fill, class: "avatar-small" %>
        <% end %>
        <%= link_to "#{@donut.user.username}", user_path(@donut.user_id) %> -
        <span class="text-muted"><%= @donut.location %></span>
      </div>
      <p>Flavour: <span class="flavour rounded-pill p-2"><%= @donut.flavour %></span></p>
      <p class="flex-grow-1"><%= @donut.description %></p>
      <h3>£<%= '%.2f' % @donut.price %> per bite</h3>
      <% if current_user == @donut.user %>

    <% end %>
    </div>

    <div class="show-stats rounded bg-light d-flex flex-column justify-content-center p-4">
      <p class="text-center text-muted mb-1">Wholeness: <%= @donut.wholeness %>%</p>
      <%= pie_chart @wholenessdata, colors: ["#E8998D","rgba(0, 0, 0, 0.05)"], donut: true %>
    </div>

      <div class="show-booking bg-light rounded d-flex flex-column">
      <% if user_signed_in?  %>
        <% if current_user == @donut.user %>
        <!-- IF SIGNED IN USER IS DONUT OWNER -->
          <div class="mx-auto align-self-center d-flex flex-column align-items-center justify-content-center h-100">
            <p>This is your donut</p>
            <%= link_to "Edit this listing", edit_donut_path, class: "btn btn-info rounded-pill" %>
            <br>
            <%= link_to "Delete this listing", donut_path(@donut),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "btn btn-danger rounded-pill" %>
          </div>
        <% else %>
        <!-- IF SIGNED IN USER IS NOT DONUT OWNER -->
          <div class="form-control p-4 bg-light border-0">
            <h5>Book this donut</h5>
          <%= render 'bookings/form', booking: @booking, donut: @donut %>
        </div>
        <% end %>

      <% else %>
        <%= link_to 'Please Sign in to book', new_user_session_path, class: "btn btn-primary rounded-pill align-self-center mx-auto my-auto" %>
      <% end %>
      </div>
 </div>
</div>
<div class="mapbanner" data-controller="map"
  data-map-test-value="test"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%# flavour location title description wholeness %>
