<div class="simple_form--container">
  <h3>Reviewing <%= @booking.user.username %></h2>
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit "Submit Review", class: 'btn btn-primary rounded-pill mt-2'%>
  <% end %>
</div>
